/.DS_Store
/.venv
/Guehl_2021.pdf
/Guehl_2021_1.png
/Guehl_2021_2 copy 2_big.png
/Guehl_2021_2 copy 3.png
/Guehl_2021_2 copy 4.png
/Guehl_2021_2 copy 5.png
/Guehl_2021_2 copy 6.png
/Guehl_2021_2 copy segmentation.png
/Guehl_2021_2.png
/Guehl_2021_3.png
/Guehl_2021_4.png
/Guehl_2021_5.png
/Guehl_2021_6.png
/Guehl_2021_7.png
/Inkscape_manual_tracing.png
/Zhang_2011.pdf
/Zhang_2011.png
/test.py
/intermediate_results
